.card {
    color: white;
    background-color: rgb(0, 0, 0.3);
    opacity: 0.5;
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px; 
}
.card h5{
    font-weight: bolder;
    opacity: 1;
    text-align: center;
}
.icon{
    display: inline-block;
}
#temp{
    display: inline-block;
    font-size: larger;
    font-size: 50%;
}