<h3>Please enter a valid city name :/  </h3>
<img src="/images/err.jpg" alt="bad request" style=" position: absolute;
margin: auto;
top: 0;
left: 0;
right: 0;
bottom: 0; height: 650p;width:500px;">
<div>go back to <a href="http://localhost:3000/" style="color: blue;">Homepage</a></div>