<%- include("header") -%>
      <ul>
        <li><a href="#">today</a></li>
        <li><a href="#">hourly</a></li>
        <li><a href="#">weekly</a></li>
      </ul>
      <nav>
        <form class="" action="/searchloc" method="get">
          <input class="" name="city" type="search" placeholder="Search a city" aria-label="Search" >
          <button class="" type="submit">Search</button>
        </form>
        <!-- <label>
          <input type="checkbox" class="radio" value="1" name="fooby[1][]" />Kiwi</label>
        <label>
          <input type="checkbox" class="radio" value="1" name="fooby[1][]" /></label>
        <label> -->

  
 <%- include("footer") -%>  

