<%- include("header") -%>
<!-- <rssapp-imageboard id="BYWRXfY1NMfGmOGB"></rssapp-imageboard><script src="https://widget.rss.app/v1/imageboard.js" type="text/javascript" async></script> -->
<!-- <rssapp-list id="BYWRXfY1NMfGmOGB"></rssapp-list><script src="https://widget.rss.app/v1/list.js" type="text/javascript" async></script> -->
<!-- <rssapp-list id="BYWRXfY1NMfGmOGB"></rssapp-list><script src="https://widget.rss.app/v1/list.js" type="text/javascript" async></script>
         -->
         <!-- <rssapp-magazine id="BYWRXfY1NMfGmOGB"></rssapp-magazine><script src="https://widget.rss.app/v1/magazine.js" type="text/javascript" async></script> -->
      
        

  
</div>
<div class="fixed-bottom">
<footer id="footer" >
    <div class="text-center p-3" style="background-color:  #413F42;">
        <div>
            <a class="navbar-brand" href="#">
                <img src="/images/weblogo.png" width="50" height="50" alt="">
            </a>
        </div>
        <!-- <div class="text-white"><p>&copy;2022 Weather.com</p></div> -->
        <div class="text-white">Made with ❤ by Gaurav ;) </div>
        
    </div>
</footer>
</div>
</div>
</body>


</html> 

